
  <div class="cashfloat-card border-0 mx-auto">
    <div class="cashfloat-card-header">CASH FLOAT</div>
    <div class="cashfloat-card-body">
      <div class="cashfloat-card-text">
        Before you start selling the tickets, you need to enter the amount of money
        that is currently in the cash drawer.
      </div>
      <!-- Cashfloat input form -->
      <form [formGroup]="form" (ngSubmit)="cashfloatConfirm(form)">
        <div class="cashfloat-card-text-form">
          <input 
            id="cashfloat" 
            type="number" 
            class="form-control cashfloat-input" 
            formControlName="cashfloatInput"
            [ngClass]="{'invalid-input': submitted && f.cashfloatInput.invalid }" 
            required 
            #cashfloat
            autocomplete="off"/>
          <label for="cashfloat">{{ currency }}</label>
          <div *ngIf="submitted && f.cashfloatInput.invalid" class="invalid-feedback">
            <div>Field is invalid</div>
          </div>
        </div>
        <button type="submit" class="btn confirm-btn">
          <img src="assets/icon/general/white-checkout.png">Confirm
        </button>
      </form>
      <!-- Cashfloat input form END -->
    </div>
  </div>

  <loading-spinner *ngIf="loading"></loading-spinner>
