<div class="inner-page accountTicket" *ngIf="accountData">

  <div class="inner-page-title v-align">
    <span class="back" routerLink="/account"><img src="assets/icon/general/white-back.png"></span>

    <a [ngClass]="{'active' : activeTickets}" class="list-group-item" (click)="showActiveList()">
      Active tickets
      <span *ngIf="activeTickets" class="ml-2">({{ accountData.activeTickets.length }})</span>
    </a>
    <a [ngClass]="{'active' : usedTickets}" class="list-group-item" (click)="showUsedList()">
      Used tickets
      <span *ngIf="usedTickets" class="ml-2">({{ accountData.usedTickets.length }})</span>
    </a>
    <button routerLink="/account/tickets" class="sell-ticket-btn btnGreen"><img src="assets/icon/account/sell-tickets.png">Sell ticket</button>
  </div>

  <div class="list-group" *ngIf="accountData.activeTickets.length > 0 && activeTickets">
    <div class="list-group-header v-align">
      <div style="width:25%">Ticket no</div>
      <div style="width:15%">Bought</div>
      <div style="width:60%">Type</div>
    </div>
    <div class="ticket-history-list-data">
      <div class="list-group-item v-align" *ngFor="let item of accountData.activeTickets; let i = index"
      [ngClass]="{'related': accountData.activeTickets[i].relatedPurchaseInfo.fareItemIssuedNumber}">
        <div style="width:25%">{{ item.number }}</div>
        <div style="width:15%" class="item-date">{{ item.boughtTime}}</div>
        <div style="width:60%" class="v-align">
          <span style="width:10%">
            <span *ngIf="item.remainingRides == 1"><img src="assets/icon/general/one_dir.png"></span>
            <span *ngIf="item.remainingRides == 2"><img src="assets/icon/general/both_dir.png"></span>
          </span>
          <span style="width: 90%">{{ item.type }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Active tickets list END -->

  <!-- Used tickets list -->
  <div class="list-group" *ngIf="accountData.usedTickets.length > 0 && usedTickets">
    <div class="list-group-header v-align">
      <div style="width:25%">Ticket no</div>
      <div style="width:15%">Status</div>
      <div style="width:15%">Bought</div>
      <div style="width:45%">Type</div>
    </div>
    <div class="ticket-history-list-data">
      <div class="list-group-item v-align" *ngFor="let item of accountData.usedTickets | paginate: config;let i = index"
      [ngClass]="{'related': accountData.usedTickets[i].relatedPurchaseInfo.fareItemIssuedNumber}">
        <div style="width:25%">{{ item.number }}</div>
        <div style="width:15%" class="text-uppercase">{{ item.status }}</div>
        <div style="width:15%" class="item-date">{{ item.boughtTime}}</div>
        <div style="width:45%" class="v-align">
          <span style="width:10%">
            <span *ngIf="item.remainingRides == 1"><img src="assets/icon/general/one_dir.png"></span>
            <span *ngIf="item.remainingRides == 2"><img src="assets/icon/general/both_dir.png"></span>
          </span>
          <span style="width: 90%">{{ item.type }}</span>
        </div>
      </div>
    </div>

    <!-- Pagination part -->
    <div *ngIf="usedTickets">
      <pagination-template class="my-pagination" #p="paginationApi" maxSize="999" [id]="config.id"
        (pageChange)="config.currentPage = $event">
        <button class="pagination-first" (click)="p.setCurrent(1)" [disabled]="p.isFirstPage()">
          <img src="assets/icon/general/first_page.png" [ngClass]="{'page-disabled' : p.isFirstPage()}">
        </button>
        <button class="pagination-previous" (click)="p.previous()" [disabled]="p.isFirstPage()">
          <img src="assets/icon/general/nav-back.png" [ngClass]="{'page-disabled' : p.isFirstPage()}">
        </button>
        <div class="current-pages">
          <a>{{ config.currentPage }} / {{ p.pages.length }}</a>
        </div>
        <button class="pagination-next" (click)="p.next()" [disabled]="p.isLastPage()">
          <img src="assets/icon/general/nav-next.png" [ngClass]="{'page-disabled' : p.isLastPage()}">
        </button>
        <button class="pagination-last" (click)="p.setCurrent(p.pages.length)" [disabled]="p.isLastPage()">
          <img src="assets/icon/general/last_page.png" [ngClass]="{'page-disabled' : p.isLastPage()}">
        </button>
      </pagination-template>
    </div>

  </div>
  <!-- Used tickets list END -->



</div>

<loading-spinner *ngIf="loading"></loading-spinner>
