<div class="login-box-main">

  <!-- Enter password -->
  <div class="form">
    <div class="login-box1 text-center">
      <a class="back-link" (click)="goPrevStep()"><img src="assets/icon/general/blue-back.png"></a>
      <div class="login-title v-align">
        <span *ngIf="loggedUser">{{ loggedUser.firstName }} {{loggedUser.lastName }},</span>
        <span *ngIf="loggedUser" class="login-title-role">{{ loggedUser.employeeRoleName }}</span>
      </div>
    </div>
    <div class="login-box2">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

        <div class="login-subtitle text-center" *ngIf="(!loginSubmitted || loginForm.valid) && !errorInfo">Enter your PIN / Password</div>
        <div class="error-message text-center" *ngIf="loginSubmitted && loginForm.controls.password.errors && online">
          <div *ngIf="loginForm.controls.password.errors.required">Please fill in the required field.</div>
        </div>
        <div class="error-message text-center" *ngIf="loginSubmitted && loginForm.valid && errorInfo && online">
          <div *ngIf="loginSubmitted && loginForm.valid && errorInfo">{{ errorInfo }}</div>
        </div>
        <div class="error-message text-center" *ngIf="loginSubmitted && !online">
            No internet connection
        </div>

        <div class="form-group mb-0">
          <div class="input-group login-input">
            <input type="password" 
              class="form-control login-user-input" 
              name="password"
              [ngClass]="{ 'invalid-input' : loginSubmitted && !loginForm.valid || errorInfo}" 
              required 
              formControlName="password"
              id="input2"
              autocomplete="off"
              #passwordInput>
            <div class="input-group-append">
              <button class="btn login-btn-arrow">
                <img style="transform: rotate(270deg);" src="assets/icon/general/next-white.png">
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

</div>
<loading-spinner *ngIf="loading"></loading-spinner>
