.login-box1 {
  border-bottom: 2px solid #bdbdbd;
  position: relative;
}

.back-link {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.login-title {
  font-size: 23px;
  line-height: 31px;
  letter-spacing: 1.31px;
  color: #303030;
  height: 96px;
  justify-content: center;
  font-family: 'Clear Sans Bold';
  text-transform: uppercase;
}

.login-title-role {
  color: #808080;
  margin-left: 5px;
  text-transform: capitalize;
}

.login-subtitle {
  padding: 45px 0;
  font-size: 23px;
  color: #000000;
  line-height: 31px;
}

/********************************************************************************************
***************************************Input style******************************************/

.login-input {
  margin: 0 auto;
  width: 669px;
  height: 96px!important;
}

.input-group-append {
  width: 207px;
}

.login-user-input {
  width: 462px;
  height: 100%;
  font-size: 50px;
  border-radius: 12px 0 0 12px;
  border: 2px solid #0080ff;
  color: #000;
}

.login-user-input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #0080ff;
  color: #000;
}

.login-btn-arrow {
  width: 100%;
  border-radius: 0 12px 12px 0;
  background-color: #0080ff;
  color: #fff;
}

.login-btn-arrow i {
  font-size: 50px;
}

.login-btn-arrow:hover {
  color: #fff;
}

.login-btn-arrow:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.invalid-input {
  border-width: 2px 0 2px 2px!important;
  border-color: #ff0000!important;
  padding-right: 0!important;
}

.error-message {
  color: #ff0000;
  padding: 45px 0;
  font-size: 22px;
  line-height: 31px;
}
