<div class="row m-0">
  <div class="background-ticket">
    <div class="list-group" *ngIf="routeTypes">
      <a
        *ngFor="let route of routeTypes"
        [ngClass]="{'active': defaultRoute == route}"
        class="list-group-item"
        (click)="selectRouteType(route)">
        {{ route.name | uppercase }}
      </a>
    </div>

    <!-- List of periodpass riders -->
    <div class="rider-list mt-4" *ngIf="riders">
      <div class="rider-item btnGreen" (click)="selectRider(rider)" *ngFor="let rider of riders | paginate: config">
        <div>{{ rider.name | titlecase }}</div>
      </div>
    </div>
    <!-- List of rider types END -->

    <!-- Pagination -->
    <div *ngIf="riders.length > 6">
      <pagination-template class="my-pagination" #p="paginationApi" [id]="config.id" maxSize="999"
        (pageChange)="config.currentPage = $event">
        <button class="pagination-previous" (click)="p.previous()" [disabled]="p.isFirstPage()">
          <img [ngClass]="{'page-disabled' : p.isFirstPage()}" src="assets/icon/general/nav-back.png">
        </button>
        <button class="pagination-next" (click)="p.next()" [disabled]="p.isLastPage()">
          <img [ngClass]="{'page-disabled' : p.isLastPage()}" src="assets/icon/general/nav-next.png">
        </button>
      </pagination-template>
      <!-- Current pages -->
      <div class="current-pages">
        <a *ngFor="let page of p.pages" [ngClass]="{'page-active' : p.getCurrent() === page.value}">
          <span><i class="fas fa-circle"></i></span>
        </a>
      </div>
    </div>

  </div>
  <!-- Left part END -->

  <!-- Cart -->
  <app-cart></app-cart>

</div>
<loading-spinner *ngIf="loading"></loading-spinner>
