<div class="col-12 login-box-main p-0">

  <!-- enter new password -->
  <div *ngIf="currentStep == 1">
    <div class="login-box1 text-center">
      <div class="login-title v-align">
        <span *ngIf="loggedUser">{{ loggedUser.firstName | uppercase}} {{loggedUser.lastName | uppercase}},</span>
        <span *ngIf="loggedUser" class="login-title-role">{{ loggedUser.employeeRoleName | titlecase}}</span>
      </div>
    </div>
    <div class="login-box2">
      <form [formGroup]="form" (ngSubmit)="selectPassword(form.value)">

        <div class="login-subtitle text-center" *ngIf="(!passwordSubmitted || form.valid) && !errorInfo">
          Please enter new 4 digit password
        </div>
        <div class="error-message text-center" *ngIf="passwordSubmitted && form.controls.password.errors">
          <div *ngIf="form.controls.password.errors.required">Please fill in the required field.</div>
        </div>
        <div class="error-message text-center" *ngIf="passwordSubmitted && form.valid && errorInfo">
          <div *ngIf="passwordSubmitted && form.valid && errorInfo">{{ errorInfo }}</div>
        </div>

        <div class="form-group mb-0">
          <div class="input-group login-input">
            <input 
            type="password" 
            class="form-control login-user-input" 
            formControlName="password"
            [ngClass]="{ 'invalid-input' : passwordSubmitted && !form.valid || errorInfo}" 
            autocomplete="off"
            #newPasswordInput/>
            <div class="input-group-append">
              <button type="submit" class="btn login-btn-arrow">
                <img style="transform: rotate(270deg);" src="assets/icon/general/next-white.png">
              </button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- enter new password END -->


  <!-- Repeat new password -->
  <div *ngIf="currentStep == 2">
    <div class="login-box1 text-center">
      <div class="login-title v-align" *ngIf="loggedUser">
        {{ loggedUser.firstName | uppercase}} {{loggedUser.lastName | uppercase}},
        <span class="login-title-role">{{ loggedUser.employeeRoleName | titlecase}}</span>
      </div>
    </div>
    <div class="login-box2">
      <form [formGroup]="form2" (ngSubmit)="changePass(form2.value)">

      <div class="login-subtitle text-center" *ngIf="(!submitted || form2.valid) && !errorInfo">Please repeat new password</div>
      <div class="error-message text-center" *ngIf="submitted && form2.controls.password.errors">
        <div *ngIf="form2.controls.password.errors.required">Please fill in the required field.</div>
      </div>
      <div class="error-message text-center" *ngIf="submitted && form2.valid && errorInfo">
        <div *ngIf="submitted && form2.valid && errorInfo">{{ errorInfo }}</div>
      </div>
      
        <div class="form-group mb-0">
          <div class="input-group login-input">
            <input 
              [ngClass]="{ 'invalid-input' : submitted && !form2.valid || errorInfo}" 
              type="password"
              class="form-control login-user-input" 
              name="password" 
              formControlName="password" 
              required 
              autocomplete="off"
              #newPasswordRepeatInput/>
            <div class="input-group-append">
              <button class="btn login-btn-arrow">
                <img style="transform: rotate(270deg);" src="assets/icon/general/next-white.png">
              </button>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  <!-- Repeat new password END -->

</div>
<loading-spinner *ngIf="loading"></loading-spinner>
